/projekti/Tetris/nbproject/private/
/projekti/Tetris/build/
/projekti/tetris/dist/
/projekti/Tetris/dist/
/projekti/JavaApplication9/nbproject/private/
/projekti/JavaApplication9/build/
/projekti/TetrisPeli/nbproject/private/
/projekti/TetrisPeli/build/
/projekti/TetrisPeli/dist/